<% if !movies.nil? && movies.count > 0 %>
  <h4>Movies</h4>
  <div class="d-flex flex-column">
    <% movies.order(:title).each do |movie| %>
      <%= link_to movie.title, "/movies/#{movie.id}/" %>
    <%end%>
  </div>
<%end%>
<%if !artists.nil? && artists.count > 0 %>
  <h4>Artists</h4>
  <div class="d-flex flex-column">
    <% artists.order(:name).each do |artist| %>
      <% artist.movies.order(:title).each do |movie| %>
        <% nores = false %>
        <%= link_to "#{movie.title} (#{artist.name})", "/movies/#{movie.id}/" %>
      <%end%>
    <%end%>
  </div>
<%end%>

<% if (movies.nil? || movies.count == 0) && nores %>
  <p class="lead">No results! :(</p>
<%end%>
