<div class="main col-xs-12 col-lg-8 mx-auto">
  <div class="back-button">
    <button id="backbutton">
      <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
      <span class="col-lg-12 text-light font-weight-bold text-capitalize" id="current-song-album" ></span>
    </button>
  </div>
</div>
